<footer>
    <div class="footer__wrapper">
        <div class="footer__text">
            <p>SVENIR is the first souvenir DAO in the world; Be part of the
                WEhomies adventures trought Highly curated digital assets in the
                real world & in the metaverse.</p>
        </div>
        <div class="footer__social">
            <a href="#">
                <img src="/assets/images/like.png" alt="like" class="like">
            </a>
            <a href="#">
                <img class="instagram" src="/assets/images/instagram_logo.png" alt="instagram">
            </a>
            <a href="#">
                <img src="/assets/images/youtube_logo.png" alt="youtube" class="youtube">
            </a>
        </div>
    </div>
</footer>