{%- assign data = site.data.footer -%}
<footer>
    <div class="footer__wrapper">
        <div class="footer__decoration"></div>
        <div class="footer__text">
            <p>{{data.description}}</p>
        </div>
        <div class="footer__social">
            {%- for s in data.social -%}
            <a href="{{s.link}}">
                <img src="{{s.image}}" alt="{{s.alt}}" class="{{s.alt}}">
            </a>
            {%- endfor -%}
        </div>
        <div class="footer__terms">
            <a href="{{data.terms_link}}">{{data.terms_title}}</a>
            <p>©2022 SVENIR LABS LLC</p>
        </div>
    </div>
</footer>