{%- assign wh = site.data.frontpage-section -%}
<div class="wehomies__container">

    <div class="wehomies__content">

      <h2 class="wehomies__title"> {{wh.title}} </h2>
      <div class="wehomies__text">
        WeHomies is  a group of five 3D animated characters located in the metaverse:
      </div>
      <div class="wehomies__list">
        {%- for i in wh.list1 -%}
          <p class="wehomies__item">{{i}}</p>
        {%- endfor -%}
      </div>
      <div class="wehomies__text">Five friends who will showcase the awesomeness of every city 
        on the planet earth in unique and awesome adventures.
      </div>
      <h3 class="wehomies__subtitle">{{wh.subtitle}}</h3>
      <div class="wehomies__subtext"> 
        {{wh.text3}}
      </div>
      <div class="wehomies__sublist">
        {%- for i in wh.list2 -%}
        <p class="wehomies__point">{{i}}</p>
        {%- endfor -%}
      </div>
      <div class="wehomies__else">
        {{wh.little}}    
      </div>
      
    </div>
    <div class="wehomies__img">
      <img src="/assets/images/Rectangle.png" alt="image">
    </div>

  </div>