{%- assign wh = site.data.frontpage-section -%}
<div class="wehomies__container">
  <div class="wehomies__bg"></div>
  <div class="wehomies__row1">
    <div class="wehomies__content">
      <h2 class="wehomies__title"> {{wh.title}} </h2>
      <h2 class="wehomies__title-mobile">{{wh.title-mobile}}</h2>
      <div class="wehomies__text">
        {{wh.text1}}
      </div>
      <div class="wehomies__list">
        {%- for i in wh.list1 -%}
          <p class="wehomies__item">{{i}}</p>
        {%- endfor -%}
        <div class="wehomies__text">
          {{wh.text2}}
        </div>
      </div>      
    </div>
    <div class="wehomies__img-illust">
      <img src="/assets/images/land-illustration.png" alt="land-illustration">
    </div>
  </div>
  <div class="wehomies__bg"></div>
  <div class="wehomies__row2">
    <div class="wehomies__content">
      <h3 class="wehomies__subtitle">{{wh.subtitle}}</h3>
      <div class="wehomies__subtext"> 
        {{wh.text3}}
      </div>
      <div class="wehomies__sublist">
        {%- for i in wh.list2 -%}
        <p>{{i}}</p>
        {%- endfor -%}
      </div>
      <div class="wehomies__else">
        {{wh.little}}    
      </div>
    </div>
    <div class="wehomies__img-planet">
      <img src="/assets/images/earth.png" alt="earth">
    </div>
  </div>
  <!--<div class="wehomies__row3">
    <div class="wehomies__content">
      <img class="title-image" src="{{page.title_image-mobile}}" alt="svenir">
      <h1>{{page.title-mobile}}</h1>
      <div class="wehomies__btn-mobile">
        <a class="btn" href="{{page.cta_link}}">
          <img src="{{page.cta_image}}" alt="dive">
        </a>
      </div>
      <p>{{page.descr}}</p>
    </div>
  </div>-->

</div>