


<div class="join__now">
    <div class="join__top">
      <div class="join__text">
        <p>OUR COMMUNITY IS LIVE:</p>
      </div>
    </div>
    <div class="join__form_outer">
      <div class="join__btn">
        <a href="{{site.join.link}}">
          <img src="{{site.join.image}}" alt="btn">
        </a>
      </div>
      {%- include mailchimp.html -%}
    </div>
    <div class="join__btn-mobile">
      <a href="{{join.link}}">
        <img src="{{join.image}}" alt="btn">
      </a>
    </div>
  </div>