@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lobster&display=swap');


@font-face {
    font-family: "DelaGothicOne";
    src: url(/assets/fonts/DelaGothicOne-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-Black.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-ExtraLightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat";
    src: url(/assets/fonts/Montserrat-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
  }


body{
    max-width: 100%;
    margin: 0 auto;
    a{
        color: black;
        text-decoration: none;
    }
}
main {
  overflow-x: hidden;
}