.page__dive{
    background-image: url(/assets/images/bg__dive-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1000;
    padding-top: 50px;
    @media (min-width: 768px) {
        padding-top: 110px;   
    }

    .dive__wrapper{
        padding: 0;
        width: 90%;
        margin: 0 auto;
        @media (min-width: 1600px) {
            width: 1596px;
        }
        
        .dive__svenir-img{
            display: none;
            @media (min-width: 580px) {
                display: block;
                position: relative;
                margin-bottom: 60px;
                img{
                    margin-top: 85px;
                    width: 100%;
                    text-align: left;

                }
                &::before{
                    content: "";
                    position: absolute;
                    background-image: url(/assets/images/header_desor.png);
                    background-repeat: no-repeat;
                    width: 7%;
                    height: 15%;
                    top: -4%;
                    left: -13%; 
                }

                &::after{
                    content: "";
                    position: absolute;
                    background-image: url(/assets/images/Dive__h1.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 592px;
                    height: 249px;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 40%;
                    @media (min-width: 768px) {
                        top: 45%;
                    }
                }
            }
            
        }  
        .dive__row-mobile {   
            display: block;
            position: relative;
            @media (min-width: 580px) {
                display: none;
            }

            .dive__content-mobile {
                max-width: 78%;
                margin: 0 auto;
                z-index: 20;
                &>*{
                    position: relative;
                    z-index: 2;
                }
                &::after{
                    content: "";
                    background-image: url(/assets/images/Dive__h1.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 50%;
                    transform: translatex(-50%);
                    top: 20%;
                    z-index: 10;
                }
                .title-image{
                    width: 100%;
                    text-align: center;
                    mix-blend-mode: darken;
                }
                p{
                   // width: 252px;
                    margin: 0 auto;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                    text-align: center;
                    letter-spacing: 0.625px;
                    padding-top: 35px;
                }
                .btn__launch{
                    display: block;
                    text-align: center;
                    img{
                        width: 169px;
                        height: 48px;
                        background: #000000;
                        mix-blend-mode: normal;
                        opacity: 0.45;
                        border: 2px solid #000000;
                        box-sizing: border-box;
                        box-shadow: 6px 4px 13px rgba(0, 0, 0, 0.5);
                        border-radius: 62px;
                    }
                }
            }
        }

    }
    .dive__cta{
        display: none;
        @media (min-width: 768px) {
            display: block;
            margin-top: 370px;
            width: 95%;
            margin-bottom: 550px;
            &::before{
                content: "";
                position: absolute;
                width: 90%;
                height: 40%;
                background: rgba(134, 134, 134, 0.45);
                mix-blend-mode: color-dodge;
                opacity: 0.8;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 10px;
                @media (min-width: 1600px) {
                    height: 32%;
                }
                @media (min-width: 1600px) {
                    width: 78%;
                }
    
            }
        }
        .cta__row {
            padding: 50px 50px;
            h2{
                font-family: 'Kaifiya';
                font-size: 58px;
                line-height: 60px;
                position: relative;
                @media (min-width: 1042px) {
                    font-size: 80px;
                    line-height: 85px;
                }
                @media (min-width: 1440px) {
                    font-size: 100px;
                    line-height: 104px;  
                }
                @media (min-width: 1250px) {
                    &::after{
                        content: "Check out our available NFT PACKAGES, and become a BIBC member.";
                        position: absolute;
                        font-family: 'Montserrat';
                        font-weight: 700;
                        font-size: 10px;
                        line-height: 12px;
                        letter-spacing: 0.5px;
                        width: 200px;
                        top: 65%;
                        left: 35%;
                        @media (min-width: 1440px) {
                            left: 55%;
                        }
                        @media (min-width: 1755px) {
                            left: 35%;
                        }
    
                    }
                }

            }
        }
        .cta__desc{
            display: flex;
            justify-content: space-around;
            align-items: center;
            @media (min-width: 1250px) {
                display: block;
            }
            p{
                font-family: 'Montserrat';
                width: 200px;
                font-size: 12px;
                font-weight: 700;
                line-height: 14px;
                margin: 20px 0;
                @media (min-width: 1250px) {
                    display: none;
                }
            }

        }
        .cta__button {
            display: block;
            text-align: center;
            justify-content: flex-end;
            @media (min-width: 1250px) {
                text-align: right;
                margin-right: 133px;
                margin-top: -85px;
            }
            img{
                width: 169px;
                height: 48px;
                background: #000000;
                opacity: 0.45;
                border: 2px solid #000000;
                box-sizing: border-box;
                box-shadow: 6px 4px 13px rgba(0, 0, 0, 0.5);
                border-radius: 62px;
            }
        }
    }

    .dive__footer {
        margin-top: 140px;

        @media (min-width: 768px) {
            margin-top: -220px;
        }
        
        @media (min-width: 1024px) {
            margin-top: -270px;
            z-index: 100;
        }

    }
}