.menu {
    display: none;
    @media (min-width: 580px) {
        display: grid;
        grid-template-columns: 86px 103px 122px 194px;
        column-gap: 9px;
        padding-top: 25px;
        justify-content: center;
    }
    @media (min-width: 650px) {
        grid-template-columns: 86px 120px 133px 218px;
    }
    @media (min-width: 768px) {
        grid-template-columns: 100px 120px 133px 280px;
        column-gap: 30px;  
        padding-top: 30px; 
        justify-content: center;          
        @media (min-width: 1024px) {
            column-gap: 45px;
            grid-template-columns: 93px 133px 150px 400px;
            padding-top: 50px;
        }
        @media (min-width: 1140px) {
            grid-template-columns: 121px 167px 186px 445px;
            column-gap: 70px;
            padding-top: 86px;
        }
    }
    
    .menu_item {

        font-family: 'Montserrat';
        letter-spacing: 0.5px;
        @media (min-width: 500px) {
            p{
                font-size: 9px;
                font-weight: 500;
            }
            a{
                font-size: 11px;
                font-weight: 900;
            }
        }
        @media (min-width: 768px) {
            p{
                font-size: 14px;
                font-weight: 500;
            }
            a{
                font-size: 16px;
                font-weight: 900;
            }
        }
        @media (min-width: 1140px){
            p{
                font-size: 15px;
                line-height: 18px;
                font-size: 20px;
            }
            a{
                font-size: 20px;
                line-height: 24px;

            }
        }
    }
    .cta {
        max-width: 158px;
        height: 40px;
        background: #000000;
        opacity: 0.45;
        border: 2px solid #000000;
        box-sizing: border-box;
        box-shadow: 6px 4px 13px rgba(0, 0, 0, 0.5);
        border-radius: 62px;
        text-align: center;
        margin-left: 40px;
        @media (min-width: 768px) {
            max-width: 202px;
            height: 58px;
            margin-left: 90px;
            @media (min-width: 1024px) {
                margin-left: 190px;
                font-size: 16px;
            }
            @media (min-width: 1180px) {
                margin-left: 220px;

            }
        }
        img{
            width: 90%;
            @media (min-width: 768px) {
                width: 100%;
            }
        }


    }
}