.page__dive{
    background-image: url(/assets/images/background_origin.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1000;

    .dive__wrapper{
        max-width: 1140px;
        margin: 0 auto;
        padding: 20px 20px 0 20px;

        
        .menu {
            display: grid;
            grid-template-columns: 100px 130px 200px 610px;
            column-gap: 85px;
            padding-top: 86px;
            @media (max-width: 1024px) {
                column-gap: 45px;
                grid-template-columns: 100px 130px 200px 410px;
                padding-top: 32px;

            }
            @media (max-width: 768px) {
                column-gap: 30px;
                grid-template-columns: 100px 100px 150px 290px;
                padding-top: 15px;

            }
            @media (max-width: 425px) {
                display: none;
            }

            
            .menu_item {
                p{
                    font-size: 20px;

                }
                a{
                    font-size: 20px;
                    font-weight: 900;
                }
                @media (max-width: 768px){
                    a, p{
                        font-size: 16px;
                    }
                }

            }
            .cta {
                max-width: 235px;
                font-size: 25px;
                border: 1px solid black;
                border-radius: 50px;
                padding: 15px 20px;
                text-align: center;
                margin-left: 220px;
                @media (max-width: 1180px) {
                    margin-left: 190px;

                }
                @media (max-width: 768px) {
                    margin-left: 130px;
                    font-size: 16px;
                    
                    
                }
            }
        }
            .dive__svenir-img{
                img{
                    margin-top: 104px;
                    width: 100%;
                    text-align: left;
                    @media (max-width: 768px){
                        margin-top: 45px;
                    }
                }

            }
            h1{
                width: 400px;
                margin: 0 auto 100px;
                font-family: 'Montserrat';
                font-weight: 275;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.56px;
                @media (max-width: 425px) {
                    width: 280px;
                    font-size: 16px;
                    margin: 0 auto 50px;
                    
                }
                
            }



            .join-channel__container {
                .join-channel__img {
                    text-align: center;
                    img{
                        max-width: 100%;
                        @media (max-width: 1024px) {
                            max-width: 80%;
                            
                        }
                        @media (max-width: 425px) {
                            max-width: 100%;
                            
                        }
                    }
                    
                }
                .join-channel__btn {
                    margin: 0 auto;
                    width: 703px;
                    height: 98px;
                    font-family: 'Dela Gothic One';
                    font-weight: 900;
                    font-size: 30px;
                    line-height: 43px;
                    text-align: center;
                    letter-spacing: 2.625px;
                    padding: 31px 53px;
                    border: 1px solid rgba(163, 255, 248, 0.45);
                    background-color: rgba(163, 255, 248, 0.45);
                    box-shadow: 6px 4px 13px rgba(0, 0, 0, 0.2);
                    border-radius: 62px;
                    transform: translate(0px, 506px);
                    @media (max-width: 1024px) {
                        width: 615px;
                        height: 75px;
                        font-size: 25px;
                        padding: 12px 53px;
                        transform: translate(0px, 344px);
                        
                    }
                    @media (max-width: 425px) {
                        width: 340px;
                        height: 75px;
                        font-size: 20px;
                        line-height: 25px;
                        padding: 15px 2px;
                        transform: translate(0px, 139px);
                        
                    }
                    @media (max-width: 320px) {
                        width: 280px;
                        height: 75px;
                        font-size: 18px;
                        line-height: 20px;
                    }
                }
            }        

    }
    .dive__footer {
        background: #000000;
        margin: 0 auto;
        .footer__container {
            text-align: center;
            padding: 64px 0;
            .footer__text {
                width: 753px;
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.625px; 
                color: white;
                margin: 0 auto;
                @media (max-width: 768px) {
                    width: 500px;
                    font-size: 14px;
                    
                }
                @media (max-width: 425px) {
                    width: 300px;
                    font-size: 10px;
                    line-height: 15px;
                }
            }
            img{
                margin-right: 15px;
                margin-top: 20px;
                @media (max-width: 768px) {
                    margin-right: 10px;
                    
                }
            }
        
            .like {
                width: 31px;
                height: auto;
                @media (max-width: 768px) {
                    width: 25px;
                    
                }
                @media (max-width: 768px) {
                    width: 15px;
                    
                }
            }
            .instagram {
                width: 29px;
                height: auto;
                @media (max-width: 768px) {
                    width: 25px;
                    
                }
                @media (max-width: 768px) {
                    width: 15px;
                    
                }
            }
            .youtube {
                width: 29px;
                height: auto;
                @media (max-width: 768px) {
                    width: 25px;
                    
                }
                @media (max-width: 768px) {
                    width: 15px;
                    
                }
            }
        }
    
    }
}