.footer__wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.footer__text {
    font-size: 14px;
    text-align: center;

}
.footer__social {
    margin: 0 auto;
}
.like {
}
.instagram {
}
.youtube {
}