footer{
    margin-top: 7%;
    padding-bottom: 80px;


    .footer__wrapper {
        max-width: 1040px;
        margin: 0 auto;
        text-align: center;

        .footer__decoration{
            width: 972px;
            border-top: 1px solid #161616;
            margin-bottom: 30px;
            margin: 20px auto 30px;
            @media (max-width: 768px) {
                width: 600px;
                
            }
        }
        .footer__text {
            font-size: 12px;
            font-weight: 900;
            margin: 0 auto;
            line-height: 1.2;
            font-style: italic;  
            @media (max-width: 768px) {
                font-size: 10px;
                
            }

        }
        .footer__social {
            margin-top: 15px;
            img{
                padding-right: 15px;
                @media (max-width: 768px) {
                    padding-right: 10px;
                    
                }
            }
        
            .discord {
                width: 31px;
            }
            .instagram {
                width: 29px;
            }
            .twitter {
                width: 29px;
            }
        }
    }
}