.frontpage{
    background: url(/assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.frontpage__wrapper {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;

    .frontpage__row{
        position: relative;
        .frontpage__arrow{
            position: relative;
            width: 94%;
            margin-top: -85px;
            margin-left: 6px;
        }
        .frontpage__content {
            position: absolute;
            z-index: 100;
            margin-top: -96px;
        }

            h1{
                position: absolute;
                z-index: -1;
                width: 687px;
                font-family: 'Dela Gothic One';
                font-style: normal;
                font-weight: 400;
                font-size: 82px;
                line-height: 80px;
                margin-top: -165px;
                span{
                    color: #0EA7A5;
                }
                @media (max-width: 1024px) {
                    
                    
                }
                &::after{
                    content: "";
                    background-image: url(/assets/images/grey__cube.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    transform: translate(253px, -185px);
                    @media (max-width: 1024px) {
                        transform: translate(243px, -185px);
                        
                    }
                    @media (max-width: 768px){

                    }
                }
            }
            h2{
                margin-top: 3%;
                font-family: 'Montserrat';
                font-weight: 900;
                font-size: 35px;
                line-height: 47px;
                letter-spacing: 1.09px;
                margin-bottom: 3%;
                @media (max-width: 1024px) {
                    margin-top: 5%;
                    font-size: 30px;
                }
            }
            p{
                font-family: 'Montserrat';
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.625px;
                margin-top: 180px;
            }
        }
        .frontpage__circle{
            transform: translate(-275px, -228px);
            z-index: -1000;
            margin-top: 3%;
            width: 120%;
            
            @media (max-width: 1024px) {
                transform: translate(-203px, -227px);
                width: 110%;
                
            }
            @media (max-width: 768px) {

                
            }
        }



    .frontpage__video {
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;

        .video__row{
            margin-top: -645px;
            @media (max-width: 1024px) {
                margin-top: -545px;
                
            }

            .video__item {
                position: relative;
                width: 100%;
                border-radius: 80px;
                
            }
        }
    }
    
    .join__now{
        margin: 80px auto -80px;
        padding: 20px 0 41px;
        @media (max-width: 1024px) {
            margin: 30px auto -80px;
            
        }

        .join__bg{
            width: 835px;
            height: 283px;
            left: 302px;
            top: 1469px;
            background: rgba(134, 134, 134, 0.45);
            mix-blend-mode: color-dodge;
            opacity: 0.8;
            border-radius: 10px;
            transform: translate(-10px, -232px);
            margin: 0 auto;
            z-index: -1;
        }
        &::before{
            content: "";
            position: absolute;
            background-image: url(/assets/images/piramid.png);
            background-size: 100%;
            width: 50px;
            height: 57px;
            opacity: 60%;
            transform: translate(20px, 164px);
            z-index: 10;
        }
        &::after{
            content: "";
            position: absolute;
            background-image: url(/assets/images/star.png);
            background-size: 100%;
            width: 100px;
            height: 100px;
            transform: translate(874px, -184px);

        }
        .join__text {
            margin: 50px auto 0;
            width: 560px;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 1.625px;
        }
        .join__btn{
            margin: 34px auto 41px;
            width: 616px;
            height: 43px;
            background: #000000;
            border-radius: 30px;
            img{
                margin-top: -20px;
                margin-left: 27px;
            }
        }
        .join__form{
            width: 560px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 68px;
            .email{
                width: 294px;
                height: 30px;
                background: #A1F6F8;
                opacity: 0.6;
                box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.5);
                border-radius: 12px;
                &::placeholder{
                    padding-left: 20px;
                    font-family: 'Montserrat';
                    font-style: italic;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.3125px;
                }
            }
            .form__btn{
                width: 196px;
                height: 30px;
                background: #A1F6F8;
                opacity: 0.6;
                box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.5);
                border-radius: 12px;
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.90625px;
                padding: 5px 0;
                text-transform: uppercase;

            }
        }
    }
            
    .wehomies__container{
        margin-top: -125px;
        position: relative;
        &::before{
            content:"";
            position: absolute;
            background-image: url(/assets/images/bg_circle.png);
            background-size: 100%;
            width: 860px;
            height: 949px;
            transform: translate(-31px, 250px);
        }
        
        .wehomies__row1,.wehomies__row2 {
            display: grid;
            grid-template-columns: 475px 1fr;
            &>* {
                position: relative;
                z-index: 10;
            }
        }
        .wehomies__row1::before{
            content: "";
            position: absolute;
            width: 1012px;
            height: 551px;
            background: rgba(134, 134, 134, 0.45);
            mix-blend-mode: color-dodge;
            opacity: 0.8;
            border-radius: 10px;
            right: -10px;
            @media (max-width: 1024px) {
                right: -26px;
                
            }
        }
        .wehomies__row2{
            margin-top: 185px;
            margin-left: 20px;
            @media (max-width: 1024px) {
                margin-top: 110px; 
            }
        }
        .wehomies__row2::before{
            content: "";
            position: absolute;
            width: 1012px;
            height: 606px;
            background: rgba(134, 134, 134, 0.45);
            mix-blend-mode: color-dodge;
            opacity: 0.8;
            border-radius: 10px;
            right: -10px;
            @media (max-width: 1024px) {
                right: -26px;
                
            }
        }
    
            .wehomies__content {               
            
                .wehomies__title {
                    font-family: 'Dela Gothic One';
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 47px;
                    padding-top: 30px;
        
                }
                .wehomies__text {
                    font-family: 'Montserrat';
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 24px;
                    padding: 20px 0;
                    position: relative;
                    span{
                        font-weight: 600;

                    }
                    &:nth-child(2)::after{
                        content: "";
                        position: absolute;
                        background-image: url(/assets/images/grey__cube.png);
                        background-size: 100%;
                        width: 60px;
                        height: 60px;
                        transform: translate(-227px, 314px);
                    }
                }
                .wehomies__list {
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 27px;;
                }
                .wehomies__subtitle {
                    font-family: 'Dela Gothic One';
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 33px;
                    margin: 30px 0 20px;
                }
                .wehomies__subtext {
                    font-family: 'Montserrat';
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 24px;
                    span{
                        font-weight: 700;
                        margin-bottom: 20px;
                        display: inline-block;
                        font-size: 22px;
                    }
                }
                .wehomies__sublist {
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 27px;
                    margin: 20px 0;
                    p{
                        &::before{
                            content: "";
                            position: absolute;
                            background-image: url(/assets/images/black_brilliant.png);
                            background-repeat: no-repeat;
                            background-size: 100%;
                            width: 10px;
                            height: 10px;
                            margin: 10px 0 0 -20px;
                        }
                    }
                }
                .wehomies__else {
                    font-family: 'Montserrat';
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 24px;
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        background-image: url(/assets/images/star.png);
                        background-size: 100%;
                        width: 70px;
                        height: 70px;
                        transform: translate(190px, 144px);
                    }
                }
            
        }
        .wehomies__img-illust {
            padding-top: 10px;
            transform: translate(-100px, 83px);
            position: relative;
            
            &::after{
                content: "";
                position: absolute;
                background-image: url(/assets/images/sv_comingsoon.png);
                background-size: 100%;
                width: 501px;
                height: 33px;
                transform: translate(-525px, 242px);
            }
            
        }
        .wehomies__img-planet {
            img{
                max-width: 749px;
                height: auto;
                padding-top: 10px;
                transform: translate(-155px, -73px);
                position: relative;
            }
            @media (max-width: 1024px) {

                
                
            }
            &::after{
                content: "";
                position: absolute;
                background-image: url(/assets/images/sv_comingsoon2.png);
                background-size: 100%;
                width: 501px;
                height: 33px;
                transform: translate(-819px, 298px);
                @media (max-width: 1024px) {
                    transform: translate(-593px, 290px);  
                }
            }
        }
        
        .wehomies__join {
            margin-top: 180px;
            text-align: center;
            &>* {
                position: relative;
                z-index: 2;
              }
              
            .join__title {
                font-family: 'Dela Gothic One';
                font-weight: 400;
                font-size: 35px;
                line-height: 47px;
                &>* {
                    position: relative;
                    z-index: 2;
                  }
                &::after{
                    content: "";
                    background-image: url(/assets/images/bg_circle.png);
                    background-repeat: no-repeat;
                    background-size: 95%;
                    width: 900px;
                    height: 1000px;
                    position: absolute;
                    transform: translate(-637px, -612px);
                    z-index: -1;
                }
            }
            .join__text {
                font-family: 'Montserrat';
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
                margin: 20px 0;

                span{
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 27px;
                    
                }
            }
            .join__list {
                p{
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 27px;
                    letter-spacing: 0.625px;
                }
            }
            .join__quetion {
                font-family: 'Montserrat';
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.625px;
                margin-top: 20px;
            }
        }
        
    }

    .frontpage__button{
        text-align: center;
        margin: 100px 0 154px;
        &::before{
            content: "";
            position: absolute;
            background-image: url(/assets/images/grey_p.png);
            background-size: 100%;
            width: 65px;
            height: 65px;
            transform: translate(221px, -172px);
        }
        .btn__action{
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            padding: 41px 0 21px;
        }
        .btn__body{
            &::after{
                content:"";
                position: absolute;
                width: 1012px;
                height: 212px;
                left: 213px;
                top: 3349px;
                background: rgba(134, 134, 134, 0.45);
                mix-blend-mode: color-dodge;
                opacity: 0.8;
                box-shadow: 10px 2px 9px rgba(0, 0, 0, 0.6);
                border-radius: 10px;
                transform: translate(-232px, -243px);
            }
            .btn__content{

            }


            
            a.btn {
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 29px;
                line-height: 35px;
                text-align: center;
                background: #000000;
                border: 1px solid #000000;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 25px;
                padding: 2px 135px;
                margin-top: 100px;
                position: relative;
                img{
                    padding-top: 3px;
                    mix-blend-mode: normal;
                }
                @media (max-width:768px) {


                    
                }

            }
            .btn__description{
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 300;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.3px;
                margin-left: 145px;
                margin-top: 17px;
                text-align: left;
                padding-bottom: 50px;
                color: rgba(0, 0, 0, 1);
                @media (max-width: 1024px) {

                    
                }
                @media (max-width:768px) {


                    
                }
            }
        }
        .btn__decoration{
            text-align: left;
            transform: translate(-65px, 109px);
            opacity: 70%;
            @media (max-width: 1024px) {

                
            }
            @media (max-width:768px) {

                
            }

            img{
                width: 6%;
            }
        }
    }
}