.frontpage{
    background: url(/assets/images/background__final.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 1920px;
}

.frontpage__wrapper {
    max-width: 1556px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    @media (min-width: 768px) {
        padding: 0 20px;
    }

    

    .frontpage__row{
        display: none;
        @media (min-width: 580px) {
            display: block;
            position: relative;
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            &:before{
                content: "";
                position: absolute;
                width: 1260px;
                height: 611px;
                background: rgba(255, 255, 255, 0.5);
                mix-blend-mode: color-dodge;
                border-radius: 10px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 15;
                @media (min-width: 1920px) {
                    width: 1596px;  
                }
            }
        }
        
        .frontpage__content {
            margin-top: 112px;
            z-index: 20;
            @media (min-width: 1200px) {


            }
        }
        .frontpage__line{
            position: absolute;
            max-width: 100%;
            &*>{
                position: relative;
                z-index: 10;
            }
            @media (min-width: 768px) {

            }
            @media (min-width: 1024px) {
                bottom: -11% ;
                left: 46%;
                z-index: 155;
            }
            
        }

            h1{
                z-index: -1;
                font-family: 'Kaifiya';
                font-weight: 400;
                line-height: 128px;
                margin-top: 7%;
                margin: 0 auto;
                
                span{
                    color: #0EA7A5;
                }
                @media (min-width: 768px) {
                    font-size: 65px;
                    width: 600px;

                }
                @media (min-width: 1024px) {
                    font-size: 80px;
                    width: 670px;
                }
                @media (min-width: 1024px) {
                    font-size: 150px;
                    
                }


            }
            h2{
                margin-top: 3%;
                font-family: 'Montserrat';
                font-weight: 900;
                letter-spacing: 1.09px;
                margin-bottom: 3%;
                font-size: 25px;
                line-height: 1.17;
                @media (min-width: 768px) {
                    margin-top: 1%;
                }
                @media (min-width: 1024px) {
                    font-size: 35px;
                    line-height: 1.343;
                }
            }
            p{
                font-family: 'Montserrat';
                font-weight: 300;
                font-size: 16px;
                line-height: 1.2;
                letter-spacing: 0.625px;
                @media (min-width: 768px) {

                }
                @media (min-width: 768px) {
                    font-size: 18px;

                }
                @media (min-width: 1024px) {
                    margin-top: 4%;
                }
            }
    } 

    .frontpage__row-mobile {
        display: block;
        position: relative;
        padding-top: 141px;
        @media (min-width: 425px) {
            padding-top: 170px;
        }
        @media (min-width: 580px) {
            display: none;
        }
        .frontpage__content-mobile {
            max-width: 78%;
            margin: 0 auto;
            z-index: 20;
            &>*{
                position: relative;
                z-index: 2;
            }
            &::before{
                content: "";
                position: absolute;
                width: 89%;
                height: 90%;
                background: rgba(134, 134, 134, 0.45);
                mix-blend-mode: color-dodge;
                opacity: 0.8;
                border-radius: 10px;
                top: 18%;
                left: 50%;
                transform: translateX(-50%);
            }
            .title-image{
                width: 100%;
                mix-blend-mode: darken;
            }
            h1{
                font-family: 'Dela Gothic One';
                font-weight: 400;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 2.6px;
                padding: 5px 0 30px 0;
                span{
                    color: rgba(14, 167, 165, 1);
                }
            }
            h2{
                font-family: 'Dela Gothic One';
                font-weight: 400;
                font-size: 15px;
                line-height: 13px;
                letter-spacing: 1.1px;
            }
            p{
                width: 252px;
                margin: 0 auto;
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                text-align: center;
                letter-spacing: 0.625px;
                padding-top: 35px;
            }
            
            
        }
        .frontpage__btn-mobile{
            margin: 0 auto;
            @media (min-width: 375px) {
                width: 267px;
            }
            .btn {
                margin: 0 auto;
                text-align: center;
                background: #000000;
                mix-blend-mode: multiply;
                border: 1px solid #000000;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 25px;
                left: 50%;
                transform: translateX(50%);
                padding: 5px 2px 7px;
                img{
                    width: 100%;
                }
            }
        }
        .frontpage__circle-mobile {
            width: 100%;
            height: 120%;
            position: absolute;
            top: 0;
            z-index: 1;
        }
        
    } 
    .frontpage__launch-btn{
        text-align: center;
        margin-top: 115px;
        @media (min-width: 580px) {
            display: none;
        }
            &::before{
                content:"";
                position: absolute;
                width: 89%;
                height: 108px;
                left: 50%;
                transform: translateX(-50%);
                background: rgba(134, 134, 134, 0.45);
                mix-blend-mode: color-dodge;
                opacity: 0.8;
                border-radius: 10px;
                margin-top: -26px;
            }
            &>*{
                position: relative;
                z-index: 2;
            }
            img{
                width: 169px;
                height: 48px;
                background: #000000;
                mix-blend-mode: normal;
                opacity: 0.45;
                border: 2px solid #000000;
                box-sizing: border-box;
                box-shadow: 6px 4px 13px rgba(0, 0, 0, 0.5);
                border-radius: 62px;
            }
    }
}