.frontpage__video {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

    .video__row{
        margin-top: 65px;
        overflow: hidden;
        @media (min-width: 580px) {
            margin-top: -215px;
        }
        @media (min-width: 720px) {
            margin-top: -330px;
        }
        
        @media (min-width: 768px) {
            margin-top: -230px;
        }
        @media (min-width: 820px) {
            margin-top: -300px;
        }
        @media (min-width: 860px) {
            margin-top: -350px;
        }
        @media (min-width: 950px) {
            margin-top: -440px;
        }
        @media (min-width: 1024px) {
            margin-top: -536px;
        }
        @media (min-width: 1200px) {
            margin-top: -600px;
        }

        .video__item {
            width: 250%;
            left: 50%;
            transform: translate(-50%);
            position: relative;
            @media (min-width: 425px) {
                width: 150%;
            }
            @media (min-width: 580px) {
                left: 0;
                transform: none;
                width: 90%;
            }
            @media (min-width: 768px) {
                width: 100%;
                border-radius: 80px;
            }
        }
    }
}