header {
    @media (min-width: 580px) {
        max-width: 1596px;
        margin: 0 auto;
        padding: 148px 0 118px;
    }

    .header__wrapper {
        display: grid;
        grid-template-columns: 626px 1fr;
        justify-items: end;
        align-items: center;

        & > * {
            position: relative;
            z-index: 10;
        }

        @media (min-width: 1920px) {}

        &:after {
            content: "";
            position: absolute;
            width: 83%;
            height: 118px;
            background: rgba(255, 255, 255, 0.6);
            mix-blend-mode: color-dodge;
            border-radius: 0 10px 10px 0;
            left: 50%;
            transform: translate(-50%);
            z-index: 5;
        }

        .header__logo {
            width: 626px;
            display: flex;
            justify-content: end;
            align-items: center;
            background-color: black;
            padding-right: 35px;

            & > * {
                position: relative;
                z-index: 4;
            }

            @media (min-width: 1920px) {}

            img {
                max-width: 119px;
            }

            .header__desc {
                font-family: "DelaGothicOne";
                color: white;
                margin-left: 51px;
                line-height: 27px;
                font-size: 20px;
            }
        }

        .header__btn {
            display: flex;
            justify-content: center;
            width: 450px;
            height: 60px;
            opacity: 0.7;
            background: #000000;
            border: 2px solid #000000;
            box-sizing: border-box;
            box-shadow: 6px 4px 13px rgba(0, 0, 0, 0.5);
            border-radius: 62px;
            margin-right: 120px;

            & > * {
                position: relative;
                z-index: 20;
            }

            @media (min-width: 1920px) {
                width: 506px;
                margin-left: 60px;
            }
        }
    }
}
