header{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;


    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 10%;

        .header__logo {
            img{
                max-width: 11%;
            }
        }
        .header__btn {
            margin-top: 35px;
            width: 202px;
            height: 58px;
            border: 1px solid #000;
            border-radius: 62px;
            text-transform: uppercase; 
            
            @media (max-width: 768px) {
                margin-top: 18px;
                width: 269px;
                height: 46px;
                
            }

        }

        .btn {
            font-family: 'Montserrat';
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.625px;
            text-align: center;
            padding-top: 15px;
            @media (max-width: 768px){
                font-size: 16px;
                padding-top: 10px;
            }
        }
    }
}
