.join__now{
    display: block;
    position: relative;
    padding: 20px 0 41px;
    margin: 15px auto -10px;
    max-width: 1200px;
    @media (min-width: 580px) {
        margin: 15px auto 155px;
        &::after{
            content: "";
            position: absolute;
            background-image: url(/assets/images/star.png);
            background-size: 100%;
            width: 100px;
            height: 100px;
            transform: translate(458px, 100px);
            z-index: 10;
            @media (min-width: 660px) {
                transform: translate(553px, 100px);
            }
            @media (min-width: 1024px) {
                transform: translate(900px, -68px);
            }
            @media (min-width: 1920px) {
                transform: translate(960px, -68px);
            }
        }
        
    }
    @media (min-width: 1024px) {
        margin: 100px auto 155px;
    }
    .join__bg{
        width: 105%;
        height: 100%;
        background: rgba(134, 134, 134, 0.45);
        mix-blend-mode: color-dodge;
        opacity: 0.8;
        border-radius: 10px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        @media (min-width: 580px) {
        }
        @media (min-width: 1920px) {
            width: 133%;
        }
    }
    
    .join__text {
        display: none;
        @media (min-width: 580px) {
            display: block;
            margin: 50px 0 34px;
            font-family: 'Kaifiya';
            font-size: 100px;
            line-height: 110px;
        }
    }
    .join__text-mobile{
        display: block;
        margin: 40px;
        text-align: center;
        width: 247px;
        font-family: 'Dela Gothic One';
        font-weight: 400;
        font-size: 15px;
        line-height: 13px;
        letter-spacing: 1.1px;
        @media (min-width: 375px) {
            text-align: left;
        }
        @media (min-width: 425px) {
            text-align: center;
            margin: 40px auto;

        }
        @media (min-width: 580px) {
            display: none;
        }
    }
    .join__form_outer{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width: 1920px) {
            width: 1267px;
        }
    }
    .join__btn{
        display: none;
        
        @media (min-width: 580px) {
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 100;
            cursor: pointer;
            width: 616px;
            height: 45px;
            background: #000000;
            border-radius: 30px;
            img{
                width: 100%;
                top: -18px;
                position: relative;
            }
            &::after{
                content: "OR LEAVE YOUR";
                position: absolute;
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 300;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.3px;
                width: 111px;
                height: 14px;
                right: -20%;
                top: 40%;
                @media (min-width: 1920px) {
                    right: -25%;
                }
            }
        }
    }
    .join__btn-mobile{
        display: block;
        width: 270px;
        height: 30px;
        margin: 46px auto 0;
        background: #000000;
        border-radius: 30px;
        position: relative;
        @media (min-width: 375px) {
            width: 290px;
        }
        @media (min-width: 425px) {
            width: 350px;
        }
        &>*{
            position: relative;
            z-index: 10;
        }
        img{
            width: 100%;
            margin-top: -5px;
            @media (min-width: 425px) {
                margin-top: -10px;
            }
        }
        &::before{
            content: "or";
            position: absolute;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 13px;
            letter-spacing: 1.1px;
            color: black;
            top: -31px;
            left: 50%;
            transform: translateX(-50%);

        }
        @media (min-width: 580px) {
            display: none;
        }
    }
    
    .join__form{
        width: 88%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 150;
        gap: 15px;
        &>*{
            position: relative;
            z-index: 100;
        }
        @media (min-width: 768px) {
            column-gap: 25px;
            width: 470px;
        }
        .email{
            z-index: 100;
            width: 168px;
            height: 26px;
            background: #030303;
            opacity: 0.6;
            box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.5);
            border-radius: 12px;
            @media (min-width: 375px) {
                width: 186px;
            }
            @media (min-width: 580px) {
                background: #A1F6F8;
                height: 30px;
                border-radius: 12px;
                width: 280px;
                
            }
            &::placeholder{
                padding-left: 20px;
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 300;
                line-height: 18px;
                letter-spacing: 0.3125px;
                font-size: 10px;
                color: white;
                @media (min-width: 580px){
                    font-size: 15px;
                    color: black;
                }
            }
        }
        .form__btn #mc-embedded-subscribe{
            height: 26px;
            background: #000000;
            opacity: 0.6;
            box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.5);
            border-radius: 12px;
            color: white;
            font-weight: 500;
            font-size: 7px;
            z-index: 100;
            font-family: 'Montserrat';
            text-align: center;
            letter-spacing: 0.9px;
            padding: 5px 10px;
            text-transform: uppercase;
            cursor: pointer;
            @media (min-width: 580px) {
                height: 30px;
                background: #A1F6F8;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: black;
            }
        }
    }
}