.join-channel__container {
    margin-top: 100px;
    margin-bottom: 289px;

    @media (min-width: 768px) {
        margin-top: 285px;
    }
    @media (min-width: 1024px) {
        margin-top: 330px;
    }
    .join-channel__img {
        display: none; 
        
        @media (min-width: 768px) {
            display: block;
            text-align: center;
            img{
                max-width: 100%;
            }
        }
    }
    
    .join-channel__act{
        display: none;
        @media (min-width: 768px) {
            display: block;
            font-family: 'Dela Gothic One';
            font-weight: 400;
            font-size: 20px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 1.1px;
            margin-bottom: 46px;
            &>*{
                position: relative;
                z-index: 10;
            }
        }
        &::after{
            content: "";
            background-image: url(/assets/images/flower.png);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 171px;
            height: 158px;
            position: absolute;
            transform: translate(202px, -49px);
            @media (max-width: 425px) {
                display: none; 
            }
        }
        &::before{
            content: "";
            position: absolute;
            width: 616px;
            height: 377px;
            background: rgba(134, 134, 134, 0.45);
            mix-blend-mode: color-dodge;
            opacity: 0.8;
            border-radius: 10px;
            transform: translate(-308px, -74px);
            @media (max-width: 425px) {
                width: 380px;
                height: 200px;
                transform: translate(-191px, -33px);
            }
        }
    }
    .join-channel__act-mobile{
        display: block;
        font-family: 'Dela Gothic One';
        font-weight: 400;
        font-size: 15px;
        line-height: 13px;
        letter-spacing: 1.1px;
        margin-left: 32px;
        margin-bottom: 17px;
        @media (min-width: 425px) {
            text-align: center;
            margin-left: 0;
        }
        @media (min-width: 768px) {
            display: none;
        }
        &::before{
            content: "";
            position: absolute;
            width: 90%;
            height: 140px;
            background: rgba(134, 134, 134, 0.45);
            mix-blend-mode: color-dodge;
            opacity: 0.8;
            border-radius: 10px;
            left: 50%;
            transform: translateX(-50%);
            margin-top: -20px;
            @media (min-width: 650px) {
                width: 70%;
            }
        }
        
    }
    .join-channel__btn1{
        margin: 0 auto 40px;
        width: 159px;
        height: 43px;
        background: #000000;
        opacity: 0.45;
        border: 2px solid #000000;
        box-sizing: border-box;
        box-shadow: 6px 4px 13px rgba(0, 0, 0, 0.5);
        border-radius: 62px;
        text-align: center;
        img{
            width: 100%;
        }
        @media (min-width: 425px) {
            max-width: 202px;
        }
    }
    .join-channel__btn2 {
        display: none;
        @media (min-width: 768px) {
            display: block;
            margin: 0 auto;
            width: 563px;
            height: 43px;
            background: #000000;
            border-radius: 50px;
            position: relative;  
        
            img{
                position: absolute;
                transform: translate(0px, -19px);
            }
            &::before{
                content: "";
                background-image: url(/assets/images/grey__cube.png);
                background-repeat: no-repeat;
                background-size: 100%;
                width: 46px;
                height: 46px;
                position: absolute;
                transform: translate(-12px, -279px);
                @media (max-width: 425px) {
                    display: none; 
                }
            }
            &::after{
                content: "";
                background-image: url(/assets/images/Oval1.png);
                background-repeat: no-repeat;
                background-size: 100%;
                width: 200px;
                height: 68px;
                position: absolute;
                transform: translate(-281px, -200px);
                @media (max-width:1024px) {
                    transform: translate(-209px, -200px);
                }
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        @media (max-width: 1024px) {
            width: 561px;
            height: 65px;
            padding: 12px 6px;
            transform: translate(0px, 4px);
            
        }
        @media (max-width: 425px) {
            width: 340px;
            height: 75px;
            font-size: 20px;
            line-height: 25px;
            padding: 15px 2px;
            transform: translate(0px, 139px);
            
        }
    }
} 