.join__now{
    display: block;
    position: relative;
    padding: 20px 0 41px;
    margin: 100px auto 57px;
    width: 100%;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(134, 134, 134, 0.45);
        mix-blend-mode: color-dodge;
        opacity: 0.8;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        @media (min-width: 768px) {
            width: 110%;
        }
        @media (min-width: 1440px ) {
            width: 110%;
        }
        @media (min-width: 1600px) {
            top: 10%;
            width: 123%;

        }
    }
    @media (min-width: 1024px) {
        margin: 100px auto 155px;
    }
    @media (min-width: 1600px) {
        width: 84%;
    }
    
    .join__text {
        font-family: 'Kaifiya';
        font-size: 35px;
        line-height: 32px;
        letter-spacing: 1.1px;
        width: 284px;
        margin: 0 auto;
        padding: 0 10px;
        @media (min-width: 375px) {
            font-size: 40px;
            padding: 0;
        }
        @media (min-width: 768px) {
            width: 100%;
            margin-bottom: 34px;
            font-size: 58px;
            line-height: 70px;
        }
        @media (min-width: 900px) {
            font-size: 70px;
            line-height: 80px;
        }
        @media (min-width: 1140px) {
            font-size: 80px;
            line-height: 90px;


        }
        @media (min-width: 1440px) {
            margin: 50px 0 34px;
            font-size: 100px;
            line-height: 110px;
        }
    }
    .join__form_outer{
        min-width: 80%;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        @media (min-width: 1024px) {
            display: flex;
            width: 100%;

        }
        @media (min-width: 1600px) {
            width: 100%;
            justify-content: space-between;
        }
        @media (min-width: 1700px) {
            width: 1267px;

        }
    }
    .join__btn{
        display: none;
        
        @media (min-width: 1600px) {
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 100;
            cursor: pointer;
            width: 500px;
            height: 45px;
            background: #000000;
            border-radius: 30px;
            img{
                width: 100%;
                top: -18px;
                position: relative;
            }
            &::after{
                content: "OR LEAVE YOUR";
                position: absolute;
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 300;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.3px;
                width: 111px;
                height: 14px;
                right: -20%;
                top: 40%;
                @media (min-width: 1440px) {
                    right: -25%;
                }
            }

        }
        @media (min-width: 1700px) {
            width: 616px;
            height: 45px;
        }
    }
    .join__btn-mobile{
        display: block;
        width: 230px;
        height: 25px;
        margin: 46px auto 0;
        background: #000000;
        border-radius: 30px;
        position: relative;
        @media (min-width: 375px) {
            width: 290px;
            height: 30px;
        }
        &>*{
            position: relative;
            z-index: 10;
        }
        img{
            width: 100%;
            margin-top: -5px;
        }
        &::before{
            content: "or";
            position: absolute;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 13px;
            letter-spacing: 1.1px;
            color: black;
            top: -31px;
            left: 50%;
            transform: translateX(-50%);

        }
        @media (min-width: 900px) {
            width: 616px;
            height: 45px;
            img{
                width: 100%;
                top: -18px;
                position: relative;
            }
            &::before{
                content: "OR LEAVE YOUR";
                position: absolute;
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 300;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.3px;
                width: 111px;
                height: 14px;
                left: 50%;
                top: -31px;
            }
        }
        @media (min-width: 1600px) {
            display: none;
        }
    }
    
    .join__form{
        width: 88%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 150;
        gap: 7px;
        &>*{
            position: relative;
            z-index: 100;
        }
        @media (min-width: 425px) {
            gap: 15px;
        }
        @media (min-width: 768px) {
            column-gap: 25px;
            width: 470px;
        }
        .email{
            z-index: 100;
            width: 168px;
            height: 26px;
            background: #030303;
            opacity: 0.6;
            box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.5);
            border-radius: 12px;
            @media (min-width: 375px) {
                width: 186px;
            }
            @media (min-width: 768px) {
                background: #A1F6F8;
                height: 30px;
                border-radius: 12px;
                width: 280px;
                
            }
            &::placeholder{
                padding-left: 20px;
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 300;
                line-height: 18px;
                letter-spacing: 0.3125px;
                font-size: 10px;
                color: white;
                @media (min-width: 768px){
                    font-size: 15px;
                    color: black;
                }
            }
        }
        .form__btn #mc-embedded-subscribe{
            height: 26px;
            background: #000000;
            opacity: 0.6;
            box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.5);
            border-radius: 12px;
            color: white;
            font-weight: 500;
            font-size: 7px;
            z-index: 100;
            font-family: 'Montserrat';
            text-align: center;
            letter-spacing: 0.9px;
            padding: 5px 10px;
            text-transform: uppercase;
            cursor: pointer;
            @media (min-width: 768px) {
                height: 30px;
                background: #A1F6F8;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: black;
            }
        }
    }
}