.roadmap__container {
    margin-top: 500px;

    @media (max-width: 425px) {
        margin-top: 175px;
        
    }
    .roadmap__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 768px) {
            display: block;
            
        }
    }
    .roadmap__header{
        margin-left: 80px;
        &::before{
            content: "";
            position: absolute;
            width: 1050px;
            height: 1440px;
            background: rgba(134, 134, 134, 0.45);
            mix-blend-mode: color-dodge;
            opacity: 0.8;
            border-radius: 10px;
            transform: translate(-90px, -50px);
        }
    }
    .roadmap__title {
        font-family: 'Dela Gothic One';
        width: 653px;
        font-weight: 400;
        font-size: 69px;
        line-height: 78px;
        letter-spacing: 2.15px;
        @media (max-width: 768px) {
            width: 100%;
            font-size: 50px; 
            line-height: 50px;  
        }
        &::before{
            content: "";
            background-image: url(/assets/images/small__cube.png);
            width: 60px;
            height: 60px;
            position: absolute;
            transform: translate(19px, -172px);
            @media (max-width: 425px) {
                transform: translate(92px, -105px);
            }
        }
        &::after{
            content: "";
            background-image: url(/assets/images/star.png);
            background-repeat: no-repeat;
            background-size: 103%;
            width: 100px;
            height: 100px;
            position: absolute;
            transform: translate(-332px, 297px);
            @media (max-width: 768px) {
                background-size: 80%;
                transform: translate(96px, 52px);
            }
            @media (max-width:425px) {
                transform: translate(48px, -27px);
            }
            @media (max-width: 320px) {
                transform: translate(35px, 3px);
                width: 40px;
                
            }

        }
    }
    .roadmap__description {
        width: 558px;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 300;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.78px;
        margin-top: 37px;
        span{
            font-weight: 500;
        }
        @media (max-width: 768px) {
            width: 458px;
            font-size: 20px;   
        }
        @media (max-width: 425px) {
            width: 340px;
            font-size: 18px;   
        }
        @media (max-width: 320px) {
            width: 280px;
        }
        &::after{
            content: "";
            height: 128px;
            width: 128px;
            border: 1px solid black;
            border-radius: 50%;
            position: absolute;
            transform: translate(793px, -500px);
            @media (max-width: 768px) {
                transform: translate(600px, 180px);
                height: 80px;
                width: 80px;
            }
            @media (max-width: 425px) {
                transform: translate(290px, 106px);
                height: 40px;
                width: 40px;
            }
            @media (max-width: 320px) {
                transform: translate(231px, 106px);
            }
        }
    }

    .roadmap__img{
        &::before{
            content:"";
            background-image: url(/assets/images/grey_p.png);
            width: 65px;
            height: 65px;
            position: absolute;
            transform: translate(340px, 173px);
            @media (max-width:1024px) {
                transform: translate(349px, 117px);
                
            }
            @media (max-width: 768px) {
                transform: translate(491px, -151px);
                
            }
            @media (max-width: 425px) {
                transform: translate(39px, -87px);
            }
        }
        img{
            max-width: 120%;
            transform: translate(-100px, 206px);
            @media (max-width: 1024px) {
                max-width: 100%;
                transform: translate(-5px, 143px);     
            }
            @media (max-width: 768px) {
                transform: translate(-5px, -85px);
                
            }
            @media (max-width: 425px) {
                margin-top: 60px;
                
            }
        
        }
    }
    .roadmap__catalog{
        margin-top: 110px;
        width: 840px;
        @media (max-width: 768px) {
            margin-top: -70px;
            
        }
        .roadmap__list {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 48px;
            letter-spacing: 0.78125px;
            
            @media (max-width: 768px) {
                font-size: 20px;
                line-height: 30px; 
            }
            @media (max-width: 425px) {
                font-size: 16px;
            }
            li{
                margin-left: 84px;
                @media (max-width: 768px) {
                    margin-left: 50px;   
                }
            }
            &.l-1, &.l-2, &.l-3, &.l-4, &.l-5, &.l-6{
                span{
                    color: rgba(10, 255, 19, 1);
                }
            }
            &.l-1::before, &.l-2::before, &.l-3::before, &.l-4::before, &.l-5::before, &.l-6::before{
                content: "";
                background-image: url(/assets/images/list-decoration-green.png);
                background-repeat: no-repeat;
                background-size: 100%;
                width: 30px;
                height: 30px;
                position: absolute;
                transform: translate(30px, 10px);
            }
            &.l-7, &.l-8{
                span{
                    color: rgba(246, 139, 62, 1);
                }
            }
            &.l-7::before, &.l-8::before{
                content: "";
                background-image: url(/assets/images/list-decoration-orange.png);
                background-repeat: no-repeat;
                background-size: 100%;
                width: 30px;
                height: 30px;
                position: absolute;
                transform: translate(30px, 10px);
            }

            &.l-9, &.l-10, &.l-11, &.l-13{
                span{
                    color: rgba(78, 188, 181, 1);
                }
            }
            &.l-9::before, &.l-10::before, &.l-11::before, &.l-13::before{
                content: "";
                background-image: url(/assets/images/list-decoration-swamp.png);
                background-repeat: no-repeat;
                background-size: 100%;
                width: 30px;
                height: 30px;
                position: absolute;
                transform: translate(30px, 10px);
            }
            &.l-8{
                line-height: 28px;
            }
            &.l-12{
                color: rgba(50, 70, 255, 1);
                line-height: 28px;
            }
            &.l-12::before{
                content: "";
                background-image: url(/assets/images/list-decoration-blue.png);
                background-repeat: no-repeat;
                background-size: 100%;
                width: 30px;
                height: 30px;
                position: absolute;
                transform: translate(30px, 10px);
            }

            &.l-14{
                color: white;
                line-height: 28px;
            }
            &.l-14::before{
                content: "";
                background-image: url(/assets/images/list-decoration.png);
                background-repeat: no-repeat;
                background-size: 100%;
                width: 30px;
                height: 30px;
                position: absolute;
                transform: translate(30px, 10px);
            }




            /*li::before{
                content: "";
                background-image: url(/assets/images/list-decoration.png);
                background-repeat: no-repeat;
                width: 40px;
                height: 40px;
                position: absolute;
                margin-left: -75px;
                @media (max-width: 768px) {
                    background-size: 60%;
                    margin-left: -43px;
                    margin-top: 8px;
                
                    
                }
            }*/
        }
    }
}