.section-info {
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin: 0 auto;
    &.b-1 {
        margin-bottom: 202px;
        @media (max-width: 768px) {
            margin-bottom: 172px;
            
        }
    }
    &.b-2{
        margin-bottom: 261px ;
        @media (max-width:768px) {
            margin-bottom: 220px;
            
        }
    }
    
    &.b-3 {
        direction: rtl;
        text-align: left;
        z-index: 100;
        
    }
    

    .info {
        &.i-3{
            z-index: 100;
        }

        .subtitle{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-align: left;
            letter-spacing: 0.46875px;
            @media (max-width: 768px) {
                font-size: 10px;
                line-height: 12px
                
            }
        

            &.s-1{
                width: 324px;
                padding-left: 20px;
                &::before{
                    content: "";
                    position: absolute;
                    border-bottom: 1px solid rgba(136, 204, 252, 1);
                    width: 76px;
                    height: 1px;
                    transform: translate(372px, 102px);
                    @media (max-width: 768px) {
                        transform: translate(306px, 52px);  
                        width: 56px;
                    }
                }
            }
            
            &.s-3{
                font-size: 10px;
                margin-bottom: 55px;
                padding-left: 60px;
                &::after{
                    content: "";
                    background-image: url(/assets/images/black_oval.png);
                    background-repeat: no-repeat;
                    width: 200px;
                    height: 66px;
                    position: absolute;
                    transform: translate(600px, -123px);
                    @media (max-width: 1320px) {
                            background-size: 90%;
                            transform: translate(526px, -155px);
                    }
                    @media (max-width: 1024px) {
                        width: 104px;
                        height: 50px;
                        background-size: 100%;
                        transform: translate(322px, -114px);  
                    }
                }  
            }
            &.s-2{
                font-size: 10px;
                margin-bottom: 55px;
                width: 168px;
                @media (max-width:768px) {
                    margin-bottom: 20px;   
                }
                &::after{
                    content: "";
                    background-image: url(/assets/images/flower.png);
                    background-repeat: no-repeat;
                    width: 171px;
                    height: 158px;
                    position: absolute;
                    transform: translate(189px, 0px);
                    @media (max-width:768px) {
                        transform: translate(126px, -35px);
                        background-size: 80%;
                        
                    }
                }

            }
        }
        

        h2{
            font-family: 'DelaGothicOne';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 63px;
            letter-spacing: 1.5625px;
            margin: 20px 0 50px 0;
            @media (max-width: 768px) {
                font-size: 40px;
                line-height: 50px;
                margin: 10px 0 40px 0;
                
            }
            &.h-1{
                padding-left: 20px;
            }
            &.h-1::before{
                content:"";
                position: absolute;
                border-left: 1px solid black;
                width: 1px;
                height: 344px;
                transform: translate(-30px, -40px);
                @media (max-width: 1024px){
                    transform: translate(-18px, -40px);

                }

            }
            
            &.h-2::before{
                content:"";
                background-image: url(/assets/images/Oval.png);
                width: 21px;
                height: 62px;
                position: absolute;
                transform: translate(87px, 268px);
                @media (max-width:1024px) {
                    transform: translate(39px, 268px);   
                }
                @media (max-width: 768px) {
                    transform: translate(11px, 245px);
                    
                }
            }
            &.h-2 {
                font-size: 69px;
                @media (max-width: 768px){
                    font-size: 50px;
                }
            }
            &.h-3 {
                font-size: 69px;
                padding-left: 60px;
                @media (max-width: 768px){
                    font-size: 50px;
                }
            }
            &.h-3::before{
                content: "";
                position: absolute;
                background-image: url(/assets/images/ring.png);
                background-repeat: no-repeat;
                width: 223px;
                height: 160px;
                transform: translate(66px, -177px);
                @media (max-width: 1024px) {
                    transform: translate(45px, -177px);
                    background-size: 90%;   
                }
                @media (max-width: 768px) {
                    transform: translate(70px, -177px);
                    background-size: 60%;  
                }
            } 
            

        }
    }
    .text {
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        text-align: left;
        letter-spacing: 0.46875px;
        p{
            margin-bottom: 20px;
        }

    }
    .text.t-2{
        padding-right: 163px;
        text-align: right;
        margin-left: 85px;
        @media (max-width: 1024px){
            margin-left: 35px;
            padding-right: 114px;

        }
        @media (max-width:768px) {
            margin-left: 6px;
            padding-right: 80px;
            
        }

        &::before{
            content:"";
            background-image: url(/assets/images/grey_p.png);
            background-repeat: no-repeat;
            width: 65px;
            height: 65px;
            position: absolute;
            transform: translate(-355px, 580px);
            @media (max-width: 1024px) {
                transform: translate(-270px, 580px);     
            }
            @media (max-width:768px) {
                background-size: 60%;
                transform: translate(-270px, 417px);
                
            }
        }

        &::after{
            content: "";
            background-image: url(/assets/images/cone.png);
            background-repeat: no-repeat;
            width: 105px;
            height: 480px;
            position: absolute;
            z-index: 200;
            transform: translate(-15px, 31px);
            @media (max-width: 768px) {
                background-size: 65%;
                transform: translate(-22px, 0px);
                
            }
        }
    }
    .text.t-3{
        padding: 0 145px 0 61px;
        direction: ltr;
        @media (max-width:1024px) {
            padding: 0 100px 0 47px;   
        }
        @media (max-width: 768px) {
            padding: 0 0px 0 47px;
            
        }
        &::before{
            content: "";
            background-image: url(/assets/images/arrow_up.png);
            width: 7px;
            height: 230px;
            position: absolute;
            z-index: 1;
            transform: translate(407px, 105px);
            @media (max-width: 1024px) {
                transform: translate(378px, 49px);
                
            }
            @media (max-width:768px) {
                display: none;
                
            }
        }
    }
    .image.img-3{
        transform: translate(134px, -220px);
        z-index: 100;
        @media (max-width:768px) {
            transform: translate(0px, -220px);
            
        }
        

    }
    .cta__info{
        width: 364px;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.5px;
        border: 1px solid black;
        border-radius:64px;
        padding: 16px 84px;
        position: relative;
        @media (max-width: 1024px) {
            margin-left: 20px;
            
        }
        @media (max-width:768px) {
            font-size: 14px;
            padding: 16px 24px;
            
        }
        &::before{
            content:"";
            background-image: url(/assets/images/small_arrow.png);
            width: 71px;
            height: 6px;
            position: absolute;
            transform: translate(-94px, 54px);
            @media (max-width:768px) {
                transform: translate(-36px, 54px);
                
            }

        }

        &::after{
            content:"";
            background-image: url(/assets/images/grey__cube.png);
            background-repeat: no-repeat;
            width: 120px;
            height: 120px;
            position: absolute;
            transform: translate(110px, 103px);
            @media (max-width: 768px) {
                background-size: 35%;
                transform: translate(102px, 67px);
            }
        }
    }
    &.i-3{
        text-align: left;
        
    }
    .img-desc{
        grid-column: 2 / 2;
        grid-row: 2 /  2;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;
        letter-spacing: 0.65625px;
        background-color: black;
        color: white;
        text-align: center;
        margin-top: 15px;
        padding: 5px 0;
        @media (max-width: 768px) {
            font-size: 18px;
            
        }
        &::after{
            content:"";
            background-image: url(/assets/images/star.png);
            width: 71px;
            height: 71px;
            position: absolute;
            transform: translate(-84px, 3px);
            @media (max-width: 768px) {
                background-repeat: no-repeat;
                background-size: 80%;
                transform: translate(-84px, 3px);
                
            }
        }
    }
}
.background__decoration{
    text-align: center;
    z-index: 10;
    margin-top: -480px;
    @media (max-width: 1024px) {
        img{
            max-width: 100%;
        }
        
    }

}

.dive__spesial-text{
    img{
        max-width: 100%;
        text-align: center;
        margin-top: 40px;
    }
}

